table {
	background:none repeat scroll 0 0 #88f908;
	border:2px solid black;
	border-collapse:collapse;
	width:100%;
	}
table tr td, table tr th {padding:0.325em;}
table tfoot, table thead {background:none repeat scroll 0 0 #e0e0e0;}
table tr:nth-of-type(2n) {background:none repeat scroll 0 0 #e0e0e0;}	
td {border-right:2px solid black;}