/*Wrapper*/
.wrapper{
	max-width: 1500px;
	width: 100%;
	margin: 0px auto;
}
/*End Wrapper*/

/*Header*/
header{
	background-color: #59a107;
	width: 100%;
	height: 235px;
}

header #logo{
	float: left;
	margin-top: 48px;
	margin-bottom: 43px;
	margin-left: 90px;
}

header #logo p{
	margin-left: 90px;
	margin-top: 4px;
	font-family: Monotype Corsiva;
	font-size: 20px;
	color: #f8f6f5;
}

.clear{
	clear: both;
}
/*End Header*/

/*Navbar*/
nav{
	background-color: #cccccc;
	width: 100%;
	margin-top: -20px;
}

nav ul{
	padding-top: 20px;
}

nav li{
	display: inline;
}

nav li a{
	text-decoration: none;
	color: #353534;
	font-family: Arial;
	font-size: 20.3px;
	margin: 0px 4px;
}

nav li a:hover{
	color: salmon;
}

nav li a span{
	color: salmon;
}

nav p{
	float: right;
	font-family: Arial;
	font-size: 22px;
	color: #8114ba;
	margin-top: -43px;
	margin-right: 165px;
}

.logout-btn .btn{
	float: right;
	margin-top: -45px;
	margin-right: 50px;
	padding: 5px 5px;
	font-family: Arial;
	font-size: 18px;
	background-color: #ff0000;
	border-radius: 5px;
}

.logout-btn a{
	text-decoration: none;
	font-family: Arial;
	font-size: 18px;
	color: #ffffff;
}

.logout-btn a:hover{
	color: white;
}
/*End Navbar*/

/*Content*/
#foto-profile-input{
	margin-top:10px;
	margin-left:-240px;
}

#foto-profile-input-admin{
	margin-top:120px;
	margin-left:-240px;	
}

#foto-profile img{
	height:200px;
	border-radius: 30px;
	position: absolute;
	top:470px;
	margin-left:-240px;
}

.data #profile{
	float:left;
	margin-left:500px;
}

.konten{
	margin-top: 80px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.konten h2{
	font-family: Arial;
	font-size: 20px;
	background-color: #88f908;
	border-radius: 10px;
	padding: 10px 50px;
	text-align: center;
	width: 200px;
	margin: 0px auto;
	position: relative;
	top: -26px;
	border-left: 42px solid #fff;
	border-right: 42px solid #fff;
}

table input{
	width:70%;
	border:2px solid black;
}

table select{
	border:2px solid black;
}

.konten .data{
	margin-left: 50px;
	margin-top: 50px;
	margin-bottom:40px;
}

.konten .data1{
	margin-left: 550px;
	margin-top: 50px;
	margin-bottom:40px;
}

.konten h1{
	font-family: Arial;
	font-size: 17px;
}

.konten .tombol1{
	background:#3cb878;
	color: #ffffff;
	border-radius: 10px;
	padding: 5px 20px;
	text-decoration: none;
	font-family: Arial;
	font-size: 12px;
	float: left;
	margin-top: 0px;
	margin-left: 100px;
}

.konten .tombol{
	background:#3cb878;
	color: #ffffff;
	border-radius: 10px;
	padding: 5px 20px;
	text-decoration: none;
	font-family: Arial;
	font-size: 12px;
	float: left;
	margin-top: 0px;
	margin-left: 625px;
}

.konten .tom{
	background:#ed1c24;
	color: #ffffff;
	border-radius: 10px;
	padding: 5px 20px;
	text-decoration: none;
	font-family: Arial;
	font-size: 12px;
	float: left;
	margin-top: 50px;
}

.konten h4{
	font-family: Arial;
	font-size: 22pt;
	background-color: #88f908;
	border-radius: 400px;
	padding: 30px 20px;
	text-align: center;
	width: 30px;
	margin: 0px auto;
	position: relative;
	bottom: -27px;
	margin-top: 50px;
}
/*EndContent*/

/*DropUs*/
.drop-us{
	clear: both;
	background-color: #59a107;
	margin-top: 127px;
	height: 300px;
	padding-right: 10px;
}

.drop-us-about{
	width: 400px;
	height: 300px;
}

.drop-us-about img{
	width: 300px;
	float: left;
	margin-left: 20px;
	margin-top: 30px;
}

.drop-us-about p{
	float: left;
	font-family: Arial;
	font-size: 18px;
	font-style: bold;
	color: #f8f6f5;
	margin-left: 20px;
}

.drop-us-contact{
	float: left;
	width: 500px;
	height: 300px;
	margin-left: 403px;
	margin-top: -305px;
}

.drop-us-contact h2{
	font-family: Arial;
	font-size: 32px;
	font-style: bold;
	color: #f8f6f5;
	margin-top: 30px;
	text-align: center;
}

.drop-us-contact ul{
	text-align: center;
	float: left;
}

.drop-us-contact li{
	display: inline;
	text-align: center;
}

.drop-us-contact a{
	margin: 0px 7px;
}

.drop-us-contact h3{
	font-family: Arial;
	font-size: 26px;
	font-style: bold;
	color: #f8f6f5;
	text-align: center;
}

.drop-us-location{
	float: right;
	width: 590px;
	height: 300px;
	margin-top: -305px;
}

.drop-us-location h2{
	font-family: Arial;
	font-size: 32px;
	font-style: bold;
	color: #f8f6f5;
	margin-top: 30px;
	text-align: center;
}

.drop-phone img{
	background-color: transparent;
	float: left;
	margin-left: 150px;
	margin-top: -10px;
}

.drop-phone p{
	font-family: Arial;
	font-size: 22px;
	color: #0c0d0b;
}

.drop-mail img{
	background-color: transparent;
	float: left;
	margin-left: 150px;
	margin-top: 5px;
}

.drop-mail p{
	font-family: Arial;
	font-size: 22px;
	margin-left: 5px;
	margin-top: 15px;
	float: left;
	color: #0c0d0b;
}

.drop-locate img{
	background-color: transparent;
	margin-top: 60px;
	margin-left: -300px;
}

.drop-locate p{
	font-family: Arial;
	font-size: 22px;
	color: #0c0d0b;
	margin-top: -55px;
	margin-left: 200px;
}
/*End DropUs*/

/*Footer*/
footer{
	clear: both;
	height: 85px;
	background-color: #0c0d0b;
	padding: 5px;
}

footer p{
	color: #f8faf6;
	text-align: center;
	font-family: Arial;
	font-size: 24px;
	font-style: bold;
}
/*End Footer*/
